@font-face {
  font-family: "National";
  src: url("../fonts/test-national-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "National";
  src: url("../fonts/test-national-regular-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: "National";
  src: url("../fonts/test-national-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "National";
  src: url("../fonts/test-national-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "National";
  src: url("../fonts/test-national-extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: "National";
  src: url("../fonts/test-national-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

html {
  font-size: 65.5%; }

.l-body {
  font-family: "National", Fallback, sans-serif;
  font-size: 1.7rem;
  overflow-x: hidden; }

.l-base-grid {
  display: grid;
  grid-template-rows: auto 284px;
  grid-template-columns: 100vw;
  grid-template-areas: "main" "footer"; }
  .l-base-grid__main {
    grid-area: main;
    position: relative; }
  .l-base-grid__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #00ABDD;
    grid-area: footer;
    border-radius: 90px 90px 0 0;
    padding: 0% 6% 3% 6%; }
  .l-base-grid__tourism-nz-logo {
    width: 27%; }
  .l-base-grid__right-ctn {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end; }
  .l-base-grid__logo {
    width: 78%; }
  .l-base-grid__tc {
    font-size: 3.3rem;
    color: #ffffff;
    padding-top: 5rem;
    line-height: 1; }

.l-image-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1; }
  .l-image-grid__logo {
    grid-column: 12/16;
    grid-row: 1/2;
    z-index: 1;
    margin-top: 60px; }
  .l-image-grid__ctn-one {
    grid-column: 1/6;
    grid-row: 1/4;
    position: relative; }
  .l-image-grid__blob-one {
    position: absolute;
    top: -200px;
    right: 0;
    width: 675px;
    height: 666px;
    background: #000000;
    clip-path: url(#blob-one);
    background: url(../img/pexels-jeremy-bishop-8241135.jpg) no-repeat;
    background-size: cover; }
  .l-image-grid__ctn-two {
    grid-column: 6/17;
    grid-row: 1/16;
    position: relative;
    overflow: hidden; }
  .l-image-grid__blob-two {
    position: absolute;
    top: -150px;
    left: 0;
    width: 1191.7283px;
    height: 1244.99px;
    background: #000000;
    clip-path: url(#blob-two);
    background: url(../img/pexels-taryn-elliott-5581736.jpg) no-repeat;
    background-size: auto 120%;
    background-position: 0% 57%; }
  .l-image-grid__ctn-three {
    grid-column: 1/9;
    grid-row: 6/11;
    position: relative; }
  .l-image-grid__blob-three {
    position: absolute;
    top: 0;
    right: 0;
    width: 1040.9159px;
    height: 996.0017px;
    background: #000000;
    clip-path: url(#blob-three);
    background: url(../img/pexels-kelly-l-2396045.jpg) no-repeat;
    background-size: cover; }
  .l-image-grid__ctn-four {
    grid-column: 3/17;
    grid-row: 9/17;
    position: relative;
    overflow: hidden; }
  .l-image-grid__blob-four {
    position: absolute;
    top: 0;
    left: 0;
    width: 1470.9984px;
    height: 1302.9973px;
    background: #000000;
    clip-path: url(#blob-four);
    background: url(../img/pexels-ave-calvar-martinez-3030459.jpg) no-repeat;
    background-size: cover; }

.l-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 100vw;
  height: 100%;
  padding: 0 5%;
  padding-top: 35rem;
  padding-bottom: 20rem; }
  .l-content__top {
    display: flex;
    padding-bottom: 5rem;
    justify-content: space-between;
    position: relative; }

/* Large Devices (Laptop/Desktop) */
/* Medium Devices (Tablets) */
@media (min-width: 601px) and (max-width: 1023px) {
  .l-base-grid__footer {
    background: chocolate; } }
/* Small Devices (Mobile) */
@media (max-width: 600px) {
  .l-base-grid__footer {
    background: greenyellow; } }
.modal-header .close {
  padding: 1rem 1rem;
  padding-top: 0;
  margin: 0;
  font-size: 2.8rem; }

#vehicleDetails {
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding: 0 6%;
  display: flex;
  flex-flow: row wrap; }

#review {
  width: 100%;
  height: 100%;
  background: orange; }

#summary {
  width: 100%;
  height: 100%;
  background: red; }

#hireBtn {
  width: 30%; }

.modal-content {
  height: 900px;
  position: relative;
  border-radius: 50px; }

.modal-header {
  padding: 0 2rem;
  padding-top: 2rem; }

.modal-body {
  display: flex;
  flex-flow: column wrap; }

.c-modal__header {
  justify-content: space-between;
  border: none;
  padding-bottom: 0; }
.c-modal__backIcon {
  font-size: 2.5rem;
  padding: 1rem 1rem;
  color: #FFFFFF; }
.c-modal__page-title {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; }
.c-modal__title-ctn {
  width: 125%;
  background: #ffffff;
  color: #00ABDD;
  border-radius: 30px;
  padding: 0.5em 0;
  text-align: center;
  border: solid 3px #00ABDD; }
  .c-modal__title-ctn--active {
    background: #00ABDD;
    z-index: 3;
    color: #FFFFFF; }
  .c-modal__title-ctn--stacked {
    z-index: 2; }
.c-modal__title-text {
  font-size: 1.6rem; }
.c-modal__carousel-wrap {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  padding-top: 2rem; }
.c-modal__side-carousel {
  background: #ffffff;
  width: 14%;
  z-index: 3; }
.c-modal__carousel {
  margin-bottom: 4rem; }
.c-modal__carousel-inner {
  height: 100%; }
.c-modal__carousel-item {
  width: auto;
  height: 100%; }
.c-modal__img {
  height: 100%;
  background-repeat: no-repeat; }
.c-modal__title {
  width: 100%;
  font-size: 4rem;
  color: #00ABDD;
  line-height: 1;
  font-weight: 800; }
.c-modal__partner {
  width: 100%;
  font-size: 2rem;
  color: #5CB8E2;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.1rem; }
.c-modal__icons-ctn {
  width: 50%;
  display: flex; }
.c-modal__pricing-ctn {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-end;
  color: #00ABDD;
  font-size: 2.2rem;
  font-weight: 600; }
.c-modal__icons-left {
  width: 16rem;
  display: flex;
  flex-flow: row wrap; }
.c-modal__icons-right {
  width: 10rem;
  display: flex;
  flex-flow: row wrap; }
.c-modal__icon {
  height: 40px;
  margin-right: 1.5rem; }
.c-modal__text {
  padding-top: 1rem;
  color: #00ABDD;
  line-height: 1; }
.c-modal__line-wrap {
  display: flex; }
.c-modal__footer {
  justify-content: center;
  border: none;
  padding-top: 0;
  padding-bottom: 2rem; }
.c-modal__btn {
  width: 30%;
  font-size: 2.2rem;
  font-weight: 800;
  background: #DDCE22;
  border-radius: 30px;
  border: none;
  color: #FFFFFF;
  padding: 0.3em 0; }
  .c-modal__btn:focus {
    outline: none; }

.l-sorting-ctn {
  width: 100%;
  height: 70px;
  margin-bottom: 15rem; }

.c-inital-sorting {
  background: mediumvioletred;
  width: 100%; }
  .c-inital-sorting__sorting {
    display: flex;
    justify-content: space-between; }
  .c-inital-sorting__checkboxes {
    display: flex; }
  .c-inital-sorting__ctn {
    background: #00ABDD;
    padding: 0.5em 1em;
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    line-height: 1;
    margin-right: 1.5rem; }
  .c-inital-sorting__label {
    margin: 0; }
  .c-inital-sorting__select {
    width: 150px;
    appearance: none;
    background: #00ABDD;
    border: none;
    padding: 0.5em 1em;
    margin: 0;
    width: 100%;
    outline: none;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    font-size: 2.5rem;
    border-radius: 50px; }
  .c-inital-sorting__option {
    width: 150px;
    text-transform: lowercase;
    font-size: 1rem;
    background: #000000;
    letter-spacing: 1rem;
    font-size: 1.4rem; }

.c-final-sorting {
  background: mediumspringgreen;
  width: 100%; }
  .c-final-sorting__sorting {
    display: flex;
    justify-content: space-between; }
  .c-final-sorting__checkboxes {
    display: flex; }
  .c-final-sorting__ctn {
    background: #00ABDD;
    padding: 0.5em 1em;
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    line-height: 1;
    margin-right: 1.5rem; }
  .c-final-sorting__label {
    margin: 0; }
  .c-final-sorting__select {
    width: 150px;
    appearance: none;
    background: #00ABDD;
    border: none;
    padding: 0.5em 1em;
    margin: 0;
    width: 100%;
    outline: none;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    font-size: 2.5rem;
    border-radius: 50px; }
  .c-final-sorting__option {
    width: 150px;
    text-transform: lowercase;
    font-size: 1rem;
    background: #000000;
    letter-spacing: 1rem;
    font-size: 1.4rem; }

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  cursor: pointer;
  line-height: 1; }
  .select select, .select::after {
    grid-area: select; }
  .select:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 1.7em;
    height: 1.2em;
    background-color: #ffffff;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    margin-right: 2.2rem; }

.c-final-sorting {
  width: 100%; }

.feedback-ctn {
  width: 100%;
  height: 50px; }

.filterfeedback {
  display: flex;
  justify-content: space-evenly; }

/* Large Devices (Laptop/Desktop) */
/* Medium Devices (Tablets) */
/* Small Devices (Mobile) */
.c-travel-details {
  background: #ffffff;
  width: 603px;
  height: 726px;
  padding: 3rem;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; }
  .c-travel-details__ctn {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    position: relative; }
  .c-travel-details__label-ctn {
    display: flex;
    justify-content: space-between; }
  .c-travel-details__when {
    display: flex; }
  .c-travel-details__date {
    width: 50%;
    display: flex;
    flex-flow: column wrap; }
  .c-travel-details__time {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    padding-left: 5%;
    align-items: flex-start; }
  .c-travel-details__return-ctn {
    display: flex; }
  .c-travel-details__checkbox {
    border: solid 1px #00ABDD; }
  .c-travel-details__return-text {
    color: #00ABDD; }
  .c-travel-details__twoLocations-ctn {
    display: none; }
  .c-travel-details__label {
    color: #00ABDD;
    font-size: 2rem;
    font-weight: 700; }
    .c-travel-details__label--pickup {
      display: none; }
  .c-travel-details__select {
    background: #00ABDD;
    color: #FFFFFF;
    border: none;
    font-size: 2rem;
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 40px;
    outline: #DDCE22; }
    .c-travel-details__select--time {
      font-size: 2rem;
      width: 60%;
      padding: 0.53em 1em; }
  .c-travel-details__input {
    width: 100%;
    background: #00ABDD;
    color: #FFFFFF;
    font-size: 2rem;
    border: none;
    padding: 0.4em 1em;
    border-radius: 30px;
    outline-color: #DDCE22; }
  .c-travel-details__people {
    display: flex; }
  .c-travel-details__adults {
    display: flex;
    flex-flow: column wrap; }
  .c-travel-details__children {
    display: flex;
    flex-flow: column wrap;
    padding-left: 5%; }
  .c-travel-details__quantity {
    display: flex; }
  .c-travel-details__input-people {
    background: #00ABDD;
    color: #FFFFFF;
    border: none;
    width: 8ch;
    text-align: center;
    font-size: 2.5rem;
    padding: 0.2em 0;
    border-radius: 30px;
    margin: 0 0.5rem;
    outline-color: #DDCE22; }
  .c-travel-details__people-btn {
    width: 50px;
    height: 50px;
    background: none;
    border: solid 1px #00ABDD;
    color: #00ABDD;
    border-radius: 50%;
    line-height: 0; }
    .c-travel-details__people-btn:focus {
      outline-color: #DDCE22; }
  .c-travel-details__feedback {
    color: #DD1B51;
    border: none;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    padding: 1rem 0;
    outline: none; }
  .c-travel-details__submit-btn {
    width: 50%;
    background: #DDCE22;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 2.3rem;
    border: none;
    padding: 0.5em 1em;
    border-radius: 30px;
    letter-spacing: 0.05rem;
    position: absolute;
    bottom: 0;
    right: 0; }
    .c-travel-details__submit-btn:focus {
      outline: none; }

::placeholder {
  color: #FFFFFF;
  opacity: 1; }

.show-locations {
  display: block; }

.show-label {
  display: block; }

.hide-label {
  display: none; }

.hide-location {
  display: none; }

.l-fuelCalBtn-sec {
  width: 30%;
  height: 20vh;
  background: darkorange;
  padding: 2rem;
  align-self: flex-end; }

.fuel-calculator {
  display: none;
  background: midnightblue;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  border-radius: 50px;
  padding: 5rem; }
  .fuel-calculator__ctn {
    width: 100%;
    height: 100%;
    display: flex; }
  .fuel-calculator__close {
    position: absolute;
    right: 0;
    top: 0;
    color: #ffffff;
    font-size: 4rem;
    padding: 4rem;
    cursor: pointer; }
  .fuel-calculator__map {
    width: 60%;
    height: 100%;
    background: #000000;
    border-radius: 30px; }
  .fuel-calculator__right-panel {
    background: lightseagreen;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%; }
  .fuel-calculator__input {
    background: palevioletred; }

.active {
  display: block; }

.cardContent {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  min-height: 1218px; }

.c-card {
  width: 339px;
  height: 414px;
  margin: 0 1.5rem;
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 40px;
  padding: 2.5% 2%;
  border: none; }
  .c-card__card-body {
    padding: 0 3%;
    padding-top: 3rem; }
  .c-card__img {
    background-repeat: no-repeat; }
  .c-card__details {
    width: 100%;
    height: 5.5rem;
    display: flex;
    justify-content: space-between; }
  .c-card__left {
    width: 189px;
    height: 100%;
    display: flex; }
  .c-card__right {
    display: flex;
    align-items: flex-end;
    padding-bottom: 1.5rem; }
  .c-card__icons-left {
    height: 100%;
    width: 113px;
    display: flex;
    flex-flow: row wrap; }
  .c-card__icons-right {
    height: 100%;
    width: 75.6px;
    display: flex;
    flex-flow: row wrap; }
  .c-card__title {
    margin: 0;
    color: #00ABDD;
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    line-height: 1;
    padding-bottom: 0.5rem; }
  .c-card__partner {
    margin: 0;
    line-height: 1;
    color: #5CB8E2;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding-bottom: 0.7rem; }
  .c-card__icon {
    height: 2rem;
    margin-right: 0.8rem; }
  .c-card__text {
    margin: 0;
    line-height: 1.5;
    font-size: 1.5rem;
    padding: 0;
    color: #00ABDD;
    margin-right: 1rem; }
    .c-card__text--larger {
      font-size: 1.9rem;
      line-height: 1;
      margin-right: 2rem; }
    .c-card__text--fuel {
      font-size: 1.6rem;
      line-height: 1; }
  .c-card__price {
    margin: 0;
    font-size: 2.8rem;
    color: #00ABDD;
    font-weight: 700;
    line-height: 1; }
    .c-card__price--sign {
      font-size: 2.2rem; }
    .c-card__price--day {
      font-size: 1.6rem;
      color: #5CB8E2; }
  .c-card__select-btn {
    color: #FFFFFF;
    background: #DDCE22;
    width: 100%;
    font-size: 2rem;
    border: none;
    border-radius: 40px;
    font-weight: 800;
    letter-spacing: 0.08rem;
    padding: 0.2em 0; }
    .c-card__select-btn:focus {
      outline: none; }

.carousel-icons {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -30px;
  left: 0; }

.carousel-indicators {
  align-items: center;
  position: static;
  margin: 0; }

.carousel-indicators li {
  border-radius: 50%;
  background: none;
  border: solid 2px #00ABDD;
  width: 8px;
  height: 8px;
  margin: 0 6px; }

.carousel-indicators .active {
  background-color: #00ABDD;
  width: 8px;
  height: 8px; }

.carousel-control-next, .carousel-control-prev {
  position: static;
  width: 25%; }

.carousel-control-prev-icon {
  background-image: url(../img/arrow-left.svg);
  height: 18px; }

.carousel-control-next-icon {
  background-image: url(../img/arrow-right.svg);
  height: 18px; }

.l-feedback {
  display: flex;
  justify-content: center; }
  .l-feedback__text {
    color: #00ABDD;
    font-size: 2rem;
    margin: 0; }

/* Large Devices (Laptop/Desktop) */
/* Medium Devices (Tablets) */
@media (min-width: 601px) and (max-width: 1023px) {
  .c-travel-details {
    width: 400px;
    height: 600px; } }
/* Small Devices (Mobile) */
@media (max-width: 600px) {
  .c-travel-details {
    width: 300px;
    height: 600px; } }

/*# sourceMappingURL=style.css.map */
