@font-face {
  font-family: 'National';
  src: url(fonts/TestNational-Regular.otf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'National';
  src: url(fonts/TestNational-Bold.otf) format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'National';
  src: url(fonts/TestNational-Black.otf) format("truetype");
  font-weight: bolder;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

html {
  font-size: 65.5%; }

.l-body {
  font-family: "National", sans-serif;
  font-size: 1.7rem;
  overflow-x: hidden; }

.l-base-grid {
  display: grid;
  grid-template-rows: auto 284px;
  grid-template-columns: 100vw;
  grid-template-areas: "main" "footer"; }
  .l-base-grid__main {
    grid-area: main;
    position: relative; }
  .l-base-grid__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #00ABDD;
    grid-area: footer;
    border-radius: 90px 90px 0 0;
    padding: 0% 6% 3% 6%; }
  .l-base-grid__tourism-nz-logo {
    width: 27%; }
  .l-base-grid__right-ctn {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end; }
  .l-base-grid__logo {
    width: 78%; }
  .l-base-grid__tc {
    font-size: 3.3rem;
    color: #ffffff;
    padding-top: 5rem;
    line-height: 1; }

.l-image-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1; }
  .l-image-grid__logo {
    grid-column: 12/16;
    grid-row: 1/2;
    z-index: 1;
    margin-top: 60px; }
  .l-image-grid__ctn-one {
    grid-column: 1/6;
    grid-row: 1/4;
    position: relative; }
  .l-image-grid__blob-one {
    position: absolute;
    top: -200px;
    right: 0;
    width: 675px;
    height: 666px;
    background: #000000;
    clip-path: url(#blob-one);
    background: url(../img/pexels-jeremy-bishop-8241135.jpg) no-repeat;
    background-size: cover; }
  .l-image-grid__ctn-two {
    grid-column: 6/17;
    grid-row: 1/16;
    position: relative;
    overflow: hidden; }
  .l-image-grid__blob-two {
    position: absolute;
    top: -150px;
    left: 0;
    width: 1191.7283px;
    height: 1244.99px;
    background: #000000;
    clip-path: url(#blob-two);
    background: url(../img/pexels-taryn-elliott-5581736.jpg) no-repeat;
    background-size: auto 120%;
    background-position: 0% 57%; }
  .l-image-grid__ctn-three {
    grid-column: 1/9;
    grid-row: 6/11;
    position: relative; }
  .l-image-grid__blob-three {
    position: absolute;
    top: 0;
    right: 0;
    width: 1040.9159px;
    height: 996.0017px;
    background: #000000;
    clip-path: url(#blob-three);
    background: url(../img/pexels-kelly-l-2396045.jpg) no-repeat;
    background-size: cover; }
  .l-image-grid__ctn-four {
    grid-column: 3/17;
    grid-row: 9/17;
    position: relative;
    overflow: hidden; }
  .l-image-grid__blob-four {
    position: absolute;
    top: 0;
    left: 0;
    width: 1470.9984px;
    height: 1302.9973px;
    background: #000000;
    clip-path: url(#blob-four);
    background: url(../img/pexels-ave-calvar-martinez-3030459.jpg) no-repeat;
    background-size: cover; }

.l-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 100vw;
  height: 100%;
  padding: 0 5%;
  padding-top: 35rem;
  padding-bottom: 20rem; }
  .l-content__top {
    display: flex;
    padding-bottom: 5rem;
    justify-content: space-between;
    position: relative; }

/* Large Devices (Laptop/Desktop) */
/* Medium Devices (Tablets) */
@media (min-width: 601px) and (max-width: 1023px) {
  .l-base-grid__footer {
    background: chocolate; } }
/* Small Devices (Mobile) */
@media (max-width: 600px) {
  .l-base-grid__footer {
    background: greenyellow; } }
.modal-content {
  height: 900px;
  position: relative; }

.modal-body {
  display: flex;
  flex-flow: column wrap; }

.c-modal__header {
  justify-content: space-between;
  border: none;
  padding-bottom: 0; }
.c-modal__backIcon {
  font-size: 2.5rem;
  padding: 1rem 1rem;
  color: #FFFFFF; }
.c-modal__page-title {
  display: flex; }
.c-modal__title-ctn {
  background: #00ABDD;
  color: #FFFFFF;
  border-radius: 30px;
  padding: 1em 2em; }
  .c-modal__title-ctn--active {
    background: #DCCD23; }
.c-modal__title-text {
  font-size: 1.6rem; }
.c-modal__footer {
  justify-content: center;
  border: none;
  padding-top: 0; }
.c-modal__btn {
  font-size: 2rem; }

.modal-header .close {
  padding: 1rem 1rem;
  padding-top: 0;
  margin: 0;
  font-size: 2.8rem; }

#vehicleDetails {
  width: 100%;
  height: 100%;
  background: green; }

#review {
  width: 100%;
  height: 100%;
  background: orange; }

#summary {
  width: 100%;
  height: 100%;
  background: red; }

#hireBtn {
  width: 30%; }

.l-sorting-ctn {
  width: 100%;
  height: 70px;
  margin-bottom: 15rem; }

.c-inital-sorting {
  background: mediumvioletred;
  width: 100%; }
  .c-inital-sorting__sorting {
    display: flex;
    justify-content: space-between; }
  .c-inital-sorting__checkboxes {
    display: flex; }
  .c-inital-sorting__ctn {
    background: #00ABDD;
    padding: 0.5em 1em;
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    line-height: 1;
    margin-right: 1.5rem; }
  .c-inital-sorting__label {
    margin: 0; }
  .c-inital-sorting__select {
    width: 150px;
    appearance: none;
    background: #00ABDD;
    border: none;
    padding: 0.5em 1em;
    margin: 0;
    width: 100%;
    outline: none;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    font-size: 2.5rem;
    border-radius: 50px; }
  .c-inital-sorting__option {
    width: 150px;
    text-transform: lowercase;
    font-size: 1rem;
    background: #000000;
    letter-spacing: 1rem;
    font-size: 1.4rem; }

.c-final-sorting {
  background: mediumspringgreen;
  width: 100%; }
  .c-final-sorting__sorting {
    display: flex;
    justify-content: space-between; }
  .c-final-sorting__checkboxes {
    display: flex; }
  .c-final-sorting__ctn {
    background: #00ABDD;
    padding: 0.5em 1em;
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    line-height: 1;
    margin-right: 1.5rem; }
  .c-final-sorting__label {
    margin: 0; }
  .c-final-sorting__select {
    width: 150px;
    appearance: none;
    background: #00ABDD;
    border: none;
    padding: 0.5em 1em;
    margin: 0;
    width: 100%;
    outline: none;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    font-size: 2.5rem;
    border-radius: 50px; }
  .c-final-sorting__option {
    width: 150px;
    text-transform: lowercase;
    font-size: 1rem;
    background: #000000;
    letter-spacing: 1rem;
    font-size: 1.4rem; }

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  cursor: pointer;
  line-height: 1; }
  .select select, .select::after {
    grid-area: select; }
  .select:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 1.7em;
    height: 1.2em;
    background-color: #ffffff;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    margin-right: 2.2rem; }

.c-final-sorting {
  width: 100%; }

.feedback-ctn {
  width: 100%;
  height: 50px; }

.filterfeedback {
  display: flex;
  justify-content: space-evenly; }

/* Large Devices (Laptop/Desktop) */
/* Medium Devices (Tablets) */
/* Small Devices (Mobile) */
.c-travel-details {
  background: #ffffff;
  width: 603px;
  height: 726px;
  padding: 3rem;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; }
  .c-travel-details__ctn {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%; }
  .c-travel-details__label-ctn {
    display: flex;
    justify-content: space-between; }
  .c-travel-details__when {
    display: flex; }
  .c-travel-details__date {
    width: 50%;
    display: flex;
    flex-flow: column wrap; }
  .c-travel-details__time {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    padding-left: 5%;
    align-items: flex-start; }
  .c-travel-details__return-ctn {
    display: flex; }
  .c-travel-details__label {
    color: #00ABDD;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.05rem; }
  .c-travel-details__select {
    background: #00ABDD;
    color: #FFFFFF;
    border: none;
    font-size: 2rem;
    width: 100%;
    padding: 0.9em 1em;
    border-radius: 40px; }
    .c-travel-details__select--time {
      font-size: 2rem;
      width: 60%; }
  .c-travel-details__input {
    width: 100%;
    background: #00ABDD;
    color: #FFFFFF;
    font-size: 2rem;
    border: none;
    padding: 0.5em 1em;
    border-radius: 30px; }
  .c-travel-details__people-ctn {
    display: flex; }
  .c-travel-details__input-people {
    background: #00ABDD;
    color: #FFFFFF;
    border: none;
    width: 8ch;
    text-align: center;
    font-size: 2.2rem;
    padding: 0.3em 0;
    border-radius: 30px; }
  .c-travel-details__children {
    padding-left: 5%; }
  .c-travel-details__people-btn {
    width: 50px;
    height: 50px;
    background: none;
    border: solid 1px #00ABDD;
    color: #00ABDD;
    border-radius: 50%;
    line-height: 0; }
  .c-travel-details__submit-btn {
    width: 50%;
    background: #DCCD23;
    color: #FFFFFF;
    align-self: flex-end;
    font-weight: bolder;
    font-size: 2.3rem;
    border: none;
    padding: 0.5em 1em;
    border-radius: 30px;
    margin-top: 3rem; }

::placeholder {
  color: #FFFFFF;
  opacity: 1; }

.l-fuelCalBtn-sec {
  width: 30%;
  height: 20vh;
  background: darkorange;
  padding: 2rem;
  align-self: flex-end; }

.fuel-calculator {
  display: none;
  background: midnightblue;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  border-radius: 50px;
  padding: 5rem; }
  .fuel-calculator__ctn {
    width: 100%;
    height: 100%;
    display: flex; }
  .fuel-calculator__close {
    position: absolute;
    right: 0;
    top: 0;
    color: #ffffff;
    font-size: 4rem;
    padding: 4rem;
    cursor: pointer; }
  .fuel-calculator__map {
    width: 60%;
    height: 100%;
    background: #000000;
    border-radius: 30px; }
  .fuel-calculator__right-panel {
    background: lightseagreen;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%; }
  .fuel-calculator__input {
    background: palevioletred; }

.active {
  display: block; }

.cardContent {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  min-height: 1218px; }

.c-card {
  width: 339px;
  height: 414px;
  margin: 0 1.5rem;
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 40px;
  padding: 2.5% 2%; }
  .c-card__card-body {
    padding: 0 3%; }
  .c-card__title {
    color: #00ABDD;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.05rem; }
  .c-card__select-btn {
    background: #DCCD23;
    width: 100%;
    font-size: 2.2rem;
    border: none;
    border-radius: 40px; }

.carousel-indicators li {
  background-color: #00ABDD; }

.carousel-control-next, .carousel-control-prev {
  color: #00ABDD; }

.carousel-control-prev-icon {
  background-image: url(../img/arrow-left.svg); }

.carousel-control-next-icon {
  background-color: #00ABDD; }

/* Large Devices (Laptop/Desktop) */
/* Medium Devices (Tablets) */
@media (min-width: 601px) and (max-width: 1023px) {
  .c-travel-details {
    width: 400px;
    height: 600px; } }
/* Small Devices (Mobile) */
@media (max-width: 600px) {
  .c-travel-details {
    width: 300px;
    height: 600px; } }

/*# sourceMappingURL=style.css.map */
