@font-face {
  font-family: "National";
  src: url("../fonts/test-national-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "National";
  src: url("../fonts/test-national-regular-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: "National";
  src: url("../fonts/test-national-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "National";
  src: url("../fonts/test-national-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "National";
  src: url("../fonts/test-national-extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: "National";
  src: url("../fonts/test-national-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "PurePakati";
  src: url("../fonts/PurePakati-Regular.otf") format("opentype"); }
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

html {
  font-size: 65.5%; }

.l-body {
  font-family: "National", Fallback, sans-serif;
  font-size: 1.7rem;
  overflow-x: hidden; }

.l-base-grid {
  display: grid;
  grid-template-rows: auto 284px;
  grid-template-columns: 100vw;
  grid-template-areas: "main" "footer"; }
  .l-base-grid__main {
    grid-area: main;
    position: relative; }
  .l-base-grid__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #00ABDD;
    grid-area: footer;
    border-radius: 90px 90px 0 0;
    padding: 0% 6% 3% 6%; }
  .l-base-grid__tourism-nz-logo {
    width: 27%; }
  .l-base-grid__right-ctn {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end; }
  .l-base-grid__logo {
    width: 78%; }
  .l-base-grid__tc {
    font-size: 3.3rem;
    color: #ffffff;
    padding-top: 5rem;
    line-height: 1; }

.l-image-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 100%;
  height: 259vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1; }
  .l-image-grid__logo {
    grid-column: 12/16;
    grid-row: 1/2;
    z-index: 1;
    margin-top: 60px; }
  .l-image-grid__ctn-one {
    grid-column: 1/6;
    grid-row: 1/4;
    position: relative; }
  .l-image-grid__blob-one {
    position: absolute;
    top: -200px;
    right: 0;
    width: 675px;
    height: 666px;
    background: #000000;
    clip-path: url(#blob-one);
    background: url(../img/pexels-jeremy-bishop-8241135.jpg) no-repeat;
    background-size: cover; }
  .l-image-grid__ctn-two {
    grid-column: 1/17;
    grid-row: 1/16;
    position: relative;
    overflow: hidden; }
  .l-image-grid__blob-two {
    position: absolute;
    top: -150px;
    right: -205px;
    width: 1191.7283px;
    height: 1244.99px;
    background: #000000;
    clip-path: url(#blob-two);
    background: url(../img/pexels-taryn-elliott-5581736.jpg) no-repeat;
    background-size: auto 120%;
    background-position: 0% 57%; }
  .l-image-grid__ctn-three {
    grid-column: 1/9;
    grid-row: 6/11;
    position: relative; }
  .l-image-grid__blob-three {
    position: absolute;
    top: 0;
    left: -300px;
    width: 1040.9159px;
    height: 996.0017px;
    background: #000000;
    clip-path: url(#blob-three);
    background: url(../img/pexels-kelly-l-2396045.jpg) no-repeat;
    background-size: cover; }
  .l-image-grid__ctn-four {
    grid-column: 3/17;
    grid-row: 9/17;
    position: relative;
    overflow: hidden; }
  .l-image-grid__blob-four {
    position: absolute;
    top: 0;
    left: 0;
    width: 1470.9984px;
    height: 1302.9973px;
    background: #000000;
    clip-path: url(#blob-four);
    background: url(../img/pexels-ave-calvar-martinez-3030459.jpg) no-repeat;
    background-size: cover; }

.l-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 100vw;
  height: 100%;
  padding: 0 5%;
  padding-top: 35rem;
  padding-bottom: 12rem; }
  .l-content__top {
    display: flex;
    padding-bottom: 12rem;
    justify-content: space-between;
    position: relative; }

/* Large Devices (Laptop/Desktop) */
/* Medium Devices (Tablets) */
@media (min-width: 601px) and (max-width: 1023px) {
  .l-image-grid {
    height: 315vh; }
    .l-image-grid__blob-two {
      top: -220px;
      left: 50px;
      transform: scale(0.7);
      background-position: 100% 100%; }
    .l-image-grid__blob-three {
      transform: scale(0.7); }
    .l-image-grid__ctn-four {
      grid-column: 2/17; }

  .l-content {
    padding: 0 2%;
    padding-top: 35rem;
    padding-bottom: 3rem; }
    .l-content__top {
      padding-bottom: 8rem;
      flex-flow: column;
      align-items: center; } }
/* Small Devices (Mobile) */
@media (max-width: 600px) {
  .l-base-grid {
    grid-template-rows: auto 381px; }
    .l-base-grid__footer {
      flex-direction: column-reverse;
      align-items: center;
      padding: 15% 6% 13% 6%; }
    .l-base-grid__tourism-nz-logo {
      width: 87%; }
    .l-base-grid__right-ctn {
      align-items: center; }
    .l-base-grid__tc {
      font-size: 2rem; }

  .l-image-grid {
    height: 356vh; }
    .l-image-grid__logo {
      grid-column: 7/16;
      grid-row: 2/3; }
    .l-image-grid__ctn-one {
      grid-column: 1/8;
      position: relative;
      overflow: hidden; }
    .l-image-grid__blob-one {
      top: -200px;
      right: 0; }
    .l-image-grid__blob-two {
      top: -220px;
      left: -100px;
      transform: scale(0.7);
      background-size: auto 120%;
      background-position: 1000% 100%; }
    .l-image-grid__ctn-three {
      grid-column: 1/17;
      grid-row: 6/17;
      overflow: hidden; }
    .l-image-grid__blob-three {
      top: 0;
      left: -450px;
      transform: scale(0.7); }
    .l-image-grid__ctn-four {
      grid-column: 1/17;
      grid-row: 10/17; }
    .l-image-grid__blob-four {
      position: absolute;
      top: 0;
      left: -500px;
      width: 1470.9984px;
      height: 1302.9973px;
      background: #000000;
      clip-path: url(#blob-four);
      background: url(../img/pexels-ave-calvar-martinez-3030459.jpg) no-repeat;
      background-size: cover; }

  .l-content {
    padding: 0 2%;
    padding-top: 35rem;
    padding-bottom: 3rem; }
    .l-content__top {
      padding-bottom: 8rem;
      flex-flow: column;
      align-items: center; } }
.modal-header .close {
  padding: 1rem 1rem;
  padding-top: 0;
  margin: 0;
  font-size: 2.8rem; }

#vehicleDetails {
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding: 0 6%;
  display: flex;
  flex-flow: row wrap; }

#contactInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap; }

#payment {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap; }

#summary {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap; }

#hireBtn {
  width: 30%; }

.modal-content {
  min-height: 900px;
  position: relative;
  border-radius: 50px; }

.modal-header {
  padding: 0 2rem;
  padding-top: 2rem; }

.modal-body {
  display: flex;
  flex-flow: column wrap; }

.c-modal__header {
  justify-content: space-between;
  border: none;
  padding-bottom: 0; }
.c-modal__backIcon {
  font-size: 2.5rem;
  padding: 1rem 1rem;
  color: #FFFFFF; }
.c-modal__page-title {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center; }
.c-modal__title-ctn {
  width: 125%;
  background: #ffffff;
  color: #00ABDD;
  border-radius: 30px;
  padding: 0.5em 0;
  text-align: center;
  border: solid 3px #00ABDD; }
  .c-modal__title-ctn--stacked-two {
    z-index: 2; }
  .c-modal__title-ctn--stacked-three {
    z-index: 3; }
  .c-modal__title-ctn--stacked-one {
    z-index: 4; }
  .c-modal__title-ctn--active {
    background: #00ABDD;
    z-index: 5;
    color: #FFFFFF; }
.c-modal__title-text {
  font-size: 1.6rem; }
.c-modal__carousel-wrap {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 5rem; }
.c-modal__carousel {
  height: 100%;
  margin-bottom: 4rem; }
.c-modal__carousel-inner {
  height: 100%; }
.c-modal__carousel-item {
  width: auto;
  height: 100%; }
.c-modal__img {
  height: 100%;
  background-repeat: no-repeat; }
.c-modal__title {
  width: 100%;
  font-size: 4rem;
  color: #00ABDD;
  line-height: 1;
  font-weight: 800; }
.c-modal__partner {
  width: 100%;
  font-size: 2rem;
  color: #5CB8E2;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.1rem; }
.c-modal__icons-ctn {
  width: 50%;
  display: flex; }
.c-modal__pricing-ctn {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-end;
  color: #00ABDD;
  font-size: 2.2rem;
  font-weight: 600; }
.c-modal__icons-left {
  width: 15rem;
  display: flex;
  flex-flow: row wrap; }
.c-modal__icons-right {
  width: 10rem;
  display: flex;
  flex-flow: row wrap; }
.c-modal__icon {
  height: 40px;
  margin-right: 1.5rem; }
.c-modal__text {
  padding-top: 1rem;
  color: #00ABDD;
  line-height: 1; }
.c-modal__line-wrap {
  display: flex; }
.c-modal__footer {
  justify-content: center;
  border: none;
  padding-top: 0;
  padding-bottom: 2rem; }
.c-modal__btn {
  width: 30%;
  font-size: 2.2rem;
  font-weight: 800;
  background: #DDCE22;
  border-radius: 30px;
  border: none;
  color: #FFFFFF;
  padding: 0.3em 0; }
  .c-modal__btn:focus {
    outline: none; }
.c-modal__col-left {
  width: 30%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  padding: 0 3%;
  border-right: solid 1px #5CB8E2; }
.c-modal__contact-img {
  width: 100%; }
.c-modal__col-right {
  width: 70%;
  height: 100%;
  padding: 0 3%;
  padding-top: 2%; }
.c-modal__form {
  display: flex;
  flex-flow: column wrap; }
.c-modal__card-expiry {
  width: 100%;
  display: flex; }
.c-modal__input {
  width: 100%; }
.c-modal__vehicleDetsError {
  color: #DD1B51;
  font-size: 2rem;
  margin: 0 auto; }
.c-modal__booking-title {
  font-size: 2.5rem;
  color: #00ABDD;
  font-weight: 800;
  text-transform: uppercase; }
.c-modal__booking-partner {
  font-size: 2rem;
  color: #00ABDD;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase; }
.c-modal__label {
  color: #00ABDD;
  font-size: 2rem; }
.c-modal__input {
  color: #FFFFFF;
  background: #00ABDD;
  padding: 0.5em 1em;
  border: none;
  border-radius: 30px;
  letter-spacing: 0.05em; }
  .c-modal__input:focus {
    outline: solid 3px #DDCE22; }
.c-modal__licence-text {
  color: #00ABDD;
  font-size: 1.8rem;
  padding-top: 2rem; }

.l-sorting-ctn {
  width: 100%;
  min-height: 70px;
  margin-bottom: 12rem; }

.c-inital-sorting {
  width: 100%; }
  .c-inital-sorting__sorting {
    display: flex;
    justify-content: space-between; }
  .c-inital-sorting__checkboxes {
    display: flex; }
  .c-inital-sorting__ctn {
    background: #00ABDD;
    padding: 0.5em 1em;
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
    line-height: 1;
    margin-right: 1.5rem;
    display: flex;
    align-items: center; }
  .c-inital-sorting__checkbox {
    appearance: none;
    background-color: #ffffff;
    margin: 0;
    color: #00ABDD;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin-right: 1rem; }
    .c-inital-sorting__checkbox::before {
      content: "";
      width: 0.55em;
      height: 0.55em;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      background-color: #00ABDD; }
    .c-inital-sorting__checkbox:checked::before {
      transform: scale(1); }
  .c-inital-sorting__label {
    margin: 0;
    line-height: 1; }
  .c-inital-sorting__select {
    appearance: none;
    background: #00ABDD;
    border: none;
    padding: 0.5em 1em;
    margin: 0;
    width: 100%;
    outline: none;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    font-size: 2.5rem;
    border-radius: 50px; }
    .c-inital-sorting__select:focus {
      outline: solid 3px #DDCE22; }
  .c-inital-sorting__option {
    background: #00ABDD;
    letter-spacing: 1rem;
    font-size: 2rem;
    color: #FFFFFF; }

.c-final-sorting {
  width: 100%; }
  .c-final-sorting__filterfeedback {
    display: flex;
    align-items: flex-end;
    padding-bottom: 2rem; }
  .c-final-sorting__sorting {
    display: flex;
    justify-content: space-between; }
  .c-final-sorting__checkboxes {
    display: flex; }
  .c-final-sorting__ctn {
    background: #00ABDD;
    padding: 0.5em 1em;
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    line-height: 1;
    margin-right: 1.5rem;
    display: flex; }
  .c-final-sorting__checkbox {
    appearance: none;
    background-color: #ffffff;
    margin: 0;
    color: #00ABDD;
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin-right: 1rem; }
    .c-final-sorting__checkbox::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      background-color: #00ABDD; }
    .c-final-sorting__checkbox:checked::before {
      transform: scale(1); }
  .c-final-sorting__feedback {
    width: 12rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5CB8E2;
    padding-top: 0.3em;
    border-radius: 20px;
    margin-right: 2rem; }
  .c-final-sorting__icon-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem; }
  .c-final-sorting__img {
    width: 35px; }
    .c-final-sorting__img--taller {
      width: 40px; }
  .c-final-sorting__icon-label {
    font-size: 1.4rem;
    color: #FFFFFF;
    margin-bottom: 0; }
  .c-final-sorting__label {
    margin: 0; }
  .c-final-sorting__amount {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 800; }
  .c-final-sorting__select {
    appearance: none;
    background: #00ABDD;
    border: none;
    padding: 0.5em 1em;
    margin: 0;
    width: 100%;
    outline: none;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    font-size: 2.5rem;
    border-radius: 50px; }
    .c-final-sorting__select:focus {
      outline: solid 3px #DDCE22; }
  .c-final-sorting__option {
    background: #00ABDD;
    letter-spacing: 1rem;
    font-size: 2rem;
    color: #FFFFFF; }

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  cursor: pointer;
  line-height: 1; }
  .select select, .select::after {
    grid-area: select; }
  .select:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 1.2em;
    height: 0.8em;
    background-color: #ffffff;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    margin-right: 2.2rem; }

/* Large Devices (Laptop/Desktop) */
/* Medium Devices (Tablets) */
@media (min-width: 601px) and (max-width: 1023px) {
  .c-inital-sorting__sorting {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 0 4%; }
  .c-inital-sorting__checkboxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem; }
  .c-inital-sorting__label {
    margin: 0;
    line-height: 1;
    font-size: 1.5rem; }
  .c-inital-sorting__ctn {
    margin: 0; }
  .c-inital-sorting__checkbox {
    width: 0.7em;
    height: 0.7em; }
    .c-inital-sorting__checkbox::before {
      width: 0.4em;
      height: 0.4em; }
  .c-inital-sorting__select {
    font-size: 1.8rem; }

  .c-final-sorting__filterfeedback {
    padding: 0 4%;
    padding-bottom: 1.5rem; }
  .c-final-sorting__sorting {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 0 4%; }
  .c-final-sorting__checkboxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem; }
  .c-final-sorting__label {
    margin: 0;
    line-height: 1;
    font-size: 1.5rem; }
  .c-final-sorting__ctn {
    margin: 0; }
  .c-final-sorting__checkbox {
    width: 0.7em;
    height: 0.7em; }
    .c-final-sorting__checkbox::before {
      width: 0.4em;
      height: 0.4em; }
  .c-final-sorting__select {
    font-size: 1.8rem; } }
/* Small Devices (Mobile) */
@media (max-width: 600px) {
  .l-sorting-ctn {
    width: 100%;
    min-height: 70px;
    margin-bottom: 12rem; }

  .c-inital-sorting__sorting {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 0 1%; }
  .c-inital-sorting__checkboxes {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 1.5rem; }
  .c-inital-sorting__label {
    margin: 0;
    line-height: 1;
    font-size: 1.5rem; }
  .c-inital-sorting__ctn {
    margin: 0;
    padding: 0.4em 0.8em; }
  .c-inital-sorting__checkbox {
    width: 0.7em;
    height: 0.7em; }
    .c-inital-sorting__checkbox::before {
      width: 0.4em;
      height: 0.4em; }
  .c-inital-sorting__select {
    font-size: 1.8rem; }

  .c-final-sorting__filterfeedback {
    padding: 0 4%;
    padding-bottom: 1.5rem; }
  .c-final-sorting__sorting {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 0 4%; }
  .c-final-sorting__checkboxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem; }
  .c-final-sorting__label {
    margin: 0;
    line-height: 1;
    font-size: 1.5rem; }
  .c-final-sorting__ctn {
    margin: 0; }
  .c-final-sorting__checkbox {
    width: 0.7em;
    height: 0.7em; }
    .c-final-sorting__checkbox::before {
      width: 0.4em;
      height: 0.4em; }
  .c-final-sorting__select {
    font-size: 1.8rem; } }
.c-travel-details {
  background: #ffffff;
  width: 603px;
  min-height: 726px;
  padding: 3rem;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; }
  .c-travel-details__ctn {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    position: relative; }
  .c-travel-details__label-ctn {
    display: flex;
    justify-content: space-between; }
  .c-travel-details__when {
    display: flex; }
  .c-travel-details__date {
    width: 50%;
    display: flex;
    flex-flow: column wrap; }
  .c-travel-details__time {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    padding-left: 5%;
    align-items: flex-start; }
  .c-travel-details__return-ctn {
    display: flex;
    align-items: center; }
  .c-travel-details__checkbox {
    appearance: none;
    background-color: #00ABDD;
    margin: 0;
    color: #ffffff;
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin-right: 1rem; }
    .c-travel-details__checkbox::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      background-color: #ffffff; }
    .c-travel-details__checkbox:checked::before {
      transform: scale(1); }
  .c-travel-details__return-text {
    color: #00ABDD;
    margin: 0;
    line-height: 1; }
  .c-travel-details__twoLocations-ctn {
    display: none; }
  .c-travel-details__label {
    color: #00ABDD;
    font-size: 2rem;
    font-weight: 700; }
    .c-travel-details__label--pickup {
      display: none; }
  .c-travel-details__select-ctn {
    width: 100%; }
  .c-travel-details__select {
    appearance: none;
    background: #00ABDD;
    border: none;
    padding: 0.5em 1em;
    margin: 0;
    width: 100%;
    outline: none;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    font-size: 2.5rem;
    border-radius: 50px;
    font-size: 2rem;
    width: 100%;
    border-radius: 40px;
    outline: #DDCE22; }
    .c-travel-details__select:focus {
      outline: solid 3px #DDCE22; }
    .c-travel-details__select--time {
      font-size: 2rem;
      padding: 0.65em 1em; }
  .c-travel-details__option {
    background: #00ABDD;
    letter-spacing: 1rem;
    font-size: 2rem;
    color: #FFFFFF; }
  .c-travel-details__input {
    width: 100%;
    background: #00ABDD;
    color: #FFFFFF;
    font-size: 2rem;
    border: none;
    padding: 0.4em 1em;
    border-radius: 30px;
    outline-color: #DDCE22; }
  .c-travel-details__people {
    display: flex; }
  .c-travel-details__adults {
    display: flex;
    flex-flow: column wrap; }
  .c-travel-details__children {
    display: flex;
    flex-flow: column wrap;
    padding-left: 5%; }
  .c-travel-details__quantity {
    display: flex; }
  .c-travel-details__input-people {
    background: #00ABDD;
    color: #FFFFFF;
    border: none;
    width: 8ch;
    text-align: center;
    font-size: 2.5rem;
    padding: 0.2em 0;
    border-radius: 30px;
    margin: 0 0.5rem;
    outline-color: #DDCE22; }
  .c-travel-details__people-btn {
    width: 50px;
    height: 50px;
    background: none;
    border: solid 1px #00ABDD;
    color: #00ABDD;
    border-radius: 50%;
    line-height: 0; }
    .c-travel-details__people-btn:focus {
      outline-color: #DDCE22;
      color: #DDCE22; }
  .c-travel-details__feedback {
    width: 100%;
    color: #DD1B51;
    border: none;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    padding: 1rem 0;
    outline: none; }
  .c-travel-details__submit-btn {
    background: #DDCE22;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 2.3rem;
    border: none;
    padding: 0.5em 1em;
    border-radius: 30px;
    letter-spacing: 0.05rem;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0; }
    .c-travel-details__submit-btn:focus {
      outline: none; }
    .c-travel-details__submit-btn:hover {
      background: none;
      border: solid 5px #DDCE22;
      color: #DDCE22;
      font-size: 2.3rem;
      border-radius: 40px;
      padding: 0.3em 1em; }

::placeholder {
  color: #FFFFFF;
  opacity: 1; }

.show-locations {
  display: block; }

.show-label {
  display: block; }

.hide-label {
  display: none; }

.hide-location {
  display: none; }

/* Medium Devices (Tablets) */
/* Small Devices (Mobile) */
@media (max-width: 600px) {
  .c-travel-details {
    width: 300px;
    height: 800px; }
    .c-travel-details__label-ctn {
      flex-direction: column; }
    .c-travel-details__when {
      flex-direction: column; }
    .c-travel-details__people {
      flex-direction: column; }
    .c-travel-details__label {
      font-size: 1.5rem; }
    .c-travel-details__select {
      font-size: 1.5rem; }
      .c-travel-details__select--time {
        font-size: 1.5rem;
        padding: 0.65em 1em; }
    .c-travel-details__input {
      font-size: 1.5rem; } }
.l-fuelCalBtn-sec {
  width: 25%;
  min-height: 25vh;
  background: #ffffff;
  padding: 2.5%;
  align-self: flex-end;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; }
  .l-fuelCalBtn-sec__title {
    font-size: 3.7rem;
    font-family: "PurePakati", sans-serif;
    color: #00ABDD; }
  .l-fuelCalBtn-sec__text {
    color: #00ABDD;
    font-size: 1.9rem;
    line-height: 1.2;
    padding-bottom: 5%; }
  .l-fuelCalBtn-sec__fuel-btn {
    background: #DDCE22;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 2.3rem;
    border: none;
    padding: 0.5em 1em;
    border-radius: 30px;
    letter-spacing: 0.05rem; }
    .l-fuelCalBtn-sec__fuel-btn:focus {
      outline: none; }
    .l-fuelCalBtn-sec__fuel-btn:hover {
      background: none;
      border: solid 5px #DDCE22;
      color: #DDCE22;
      font-size: 2.3rem;
      border-radius: 40px;
      padding: 0.3em 1em; }

.fuel-calculator {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: black;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4); }
  .fuel-calculator__ctn {
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5%;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 15px -3px, rgba(0, 0, 0, 0.08) 0px 4px 6px -2px;
    display: flex;
    background-color: #fefefe;
    z-index: 21;
    overflow: auto;
    border-radius: 50px; }
  .fuel-calculator__close {
    position: absolute;
    right: 0;
    top: 0;
    color: #00ABDD;
    font-size: 4rem;
    padding: 4rem;
    cursor: pointer; }
  .fuel-calculator__map {
    width: 55%;
    height: 100%;
    background: #000000;
    border-radius: 30px; }
  .fuel-calculator__right-panel {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-left: 5%; }
  .fuel-calculator__waypoints-ctn {
    display: flex; }
  .fuel-calculator__input {
    width: 100%;
    color: #FFFFFF;
    background: #00ABDD;
    border-radius: 30px;
    font-size: 1.8rem;
    border: none;
    padding: 0.5rem 1em; }
    .fuel-calculator__input:focus {
      outline: solid 2px #DDCE22; }
  .fuel-calculator__waypoints {
    background: #00ABDD;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer; }
    .fuel-calculator__waypoints:focus {
      outline: solid 2px #DDCE22; }
  .fuel-calculator__title {
    color: #00ABDD;
    font-family: "PurePakati", sans-serif;
    font-size: 5rem; }
  .fuel-calculator__vehicle-dets {
    display: flex; }
  .fuel-calculator__ve-dets-wrap--left {
    padding-right: 5%; }
  .fuel-calculator__label {
    color: #00ABDD;
    margin-bottom: 0;
    font-size: 1.8rem;
    margin-top: 0.5rem; }
  .fuel-calculator__instr {
    color: #00ABDD;
    font-size: 1.6rem;
    line-height: 1;
    width: 20ch;
    padding-left: 5%; }
  .fuel-calculator__select {
    appearance: none;
    background: #00ABDD;
    border: none;
    padding: 0.5em 1em;
    margin: 0;
    width: 100%;
    outline: none;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    font-size: 2.5rem;
    border-radius: 50px;
    font-size: 1.8rem;
    padding: 0.5rem 1em;
    cursor: pointer; }
    .fuel-calculator__select:focus {
      outline: solid 3px #DDCE22; }
    .fuel-calculator__select:focus {
      outline: solid 2px #DDCE22; }
  .fuel-calculator__submit {
    background: #DDCE22;
    color: #FFFFFF;
    border: none;
    font-size: 2rem;
    padding: 0.5em 1em;
    border-radius: 30px;
    font-weight: 800;
    letter-spacing: 0.05rem;
    margin-top: 2rem; }
  .fuel-calculator__directions {
    display: flex;
    flex-flow: row wrap; }
  .fuel-calculator__results {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 700;
    font-size: 2rem;
    padding-top: 2rem; }
  .fuel-calculator__results-wrap--line {
    border-top: solid 5px #DDCE22;
    margin-top: 0.5em; }
  .fuel-calculator__result-input {
    width: 10ch;
    cursor: inherit;
    border: none;
    outline: none;
    color: #00ABDD;
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-align: right; }
  .fuel-calculator__route-title {
    color: #00ABDD;
    font-size: 1.9rem;
    margin-bottom: 0;
    font-weight: 800;
    letter-spacing: 0.06rem;
    line-height: 1;
    margin-right: 60%;
    padding-top: 2rem;
    padding-bottom: 0.3em; }
  .fuel-calculator__route {
    color: #00ABDD;
    font-size: 1.7rem;
    margin-bottom: 0;
    line-height: 1; }

.active {
  display: block; }

/* Medium Devices (Tablets) */
@media (min-width: 601px) and (max-width: 1023px) {
  .l-fuelCalBtn-sec {
    align-self: inherit;
    width: 81%;
    margin-top: 4rem;
    padding: 4%; }
    .l-fuelCalBtn-sec__text {
      margin: 0;
      padding-bottom: 3%; }
    .l-fuelCalBtn-sec__fuel-btn {
      margin-bottom: 1.5rem; } }
/* Small Devices (Mobile) */
@media (max-width: 600px) {
  .l-fuelCalBtn-sec {
    align-self: inherit;
    width: 81%;
    margin-top: 4rem;
    padding: 4%; }
    .l-fuelCalBtn-sec__text {
      margin: 0;
      padding-bottom: 3%; }
    .l-fuelCalBtn-sec__fuel-btn {
      margin-bottom: 1.5rem; } }
.cardContent {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  min-height: 1218px; }

.c-card {
  width: 339px;
  height: 414px;
  margin: 0 1.5rem;
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 40px;
  padding: 1% 1%;
  border: none; }
  .c-card__card-body {
    padding: 0 3%;
    padding-top: 11%; }
  .c-card__img {
    height: 204px;
    background-repeat: no-repeat; }
  .c-card__details {
    width: 100%;
    height: 5.5rem;
    display: flex;
    justify-content: space-between; }
  .c-card__left {
    width: 189px;
    height: 100%;
    display: flex; }
  .c-card__right {
    display: flex;
    align-items: flex-end;
    padding-bottom: 1.5rem; }
  .c-card__icons-left {
    height: 100%;
    width: 113px;
    display: flex;
    flex-flow: row wrap; }
  .c-card__icons-right {
    height: 100%;
    width: 75.6px;
    display: flex;
    flex-flow: row wrap; }
  .c-card__title {
    margin: 0;
    color: #00ABDD;
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    line-height: 1;
    padding-bottom: 0.5rem; }
  .c-card__partner {
    margin: 0;
    line-height: 1;
    color: #5CB8E2;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding-bottom: 0.7rem; }
  .c-card__icon {
    height: 2rem;
    margin-right: 0.8rem; }
  .c-card__text {
    margin: 0;
    line-height: 1.5;
    font-size: 1.5rem;
    padding: 0;
    color: #00ABDD;
    margin-right: 1rem; }
    .c-card__text--larger {
      font-size: 1.9rem;
      line-height: 1;
      margin-right: 2rem; }
    .c-card__text--fuel {
      font-size: 1.6rem;
      line-height: 1; }
  .c-card__price {
    margin: 0;
    font-size: 2.8rem;
    color: #00ABDD;
    font-weight: 700;
    line-height: 1; }
    .c-card__price--sign {
      font-size: 2.2rem; }
    .c-card__price--day {
      font-size: 1.6rem;
      color: #5CB8E2; }
  .c-card__card-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 1%; }
  .c-card__select-btn {
    color: #FFFFFF;
    background: #DDCE22;
    width: 97%;
    font-size: 2rem;
    border: none;
    border-radius: 40px;
    font-weight: 800;
    letter-spacing: 0.08rem;
    padding: 0.2em 0; }
    .c-card__select-btn:focus {
      outline: none; }
  .c-card__img-ctn {
    border-radius: 30px; }

.carousel-icons {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -35px;
  left: 0; }

.carousel-indicators {
  align-items: center;
  position: static;
  margin: 0; }

.carousel-indicators li {
  border-radius: 50%;
  background: none;
  border: solid 2px #00ABDD;
  width: 8px;
  height: 8px;
  margin: 0 6px; }

.carousel-indicators .active {
  background-color: #00ABDD;
  width: 8px;
  height: 8px; }

.carousel-control-next, .carousel-control-prev {
  position: static;
  width: 25%; }

.carousel-control-prev-icon {
  background-image: url(../img/arrow-left.svg);
  height: 18px; }

.carousel-control-next-icon {
  background-image: url(../img/arrow-right.svg);
  height: 18px; }

/* Medium Devices (Tablets) */
@media (min-width: 601px) and (max-width: 1023px) {
  .c-card {
    margin: 0;
    margin-bottom: 3rem; } }
/* Small Devices (Mobile) */
@media (max-width: 600px) {
  .c-card {
    padding: 2%;
    border-radius: 35px; } }
.l-feedback {
  display: flex;
  justify-content: center; }
  .l-feedback__text {
    background: #ffffff;
    color: #DD1B51;
    font-size: 2.5rem;
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 30px; }

/* Large Devices (Laptop/Desktop) */
/* Medium Devices (Tablets) */
/* Small Devices (Mobile) */

/*# sourceMappingURL=style.css.map */
