.l-fuelCalBtn-sec{
    width: 30%;
    height: 20vh;
    // background: darkorange;
    padding: 2rem;
    align-self: flex-end;
}

.fuel-calculator{
    display: none;
    background: midnightblue;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    border-radius: 50px;
    padding: 5rem;
    &__ctn{
        width: 100%;
        height: 100%;
        display: flex;
    }
    &__close{
        position: absolute;
        right: 0;
        top: 0;
        color: $white;
        font-size: 4rem;
        padding: 4rem;
        cursor: pointer;
    }
    &__map{
        width: 60%;
        height: 100%;
        background: $black;
        border-radius: 30px;
    }
    &__right-panel{
        background: lightseagreen;
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
    &__input{
        background: palevioletred;
    }
    // &__title{
    //     color: $white;
    // }
    // &__label{
    //     color: $white;
    // }
    // &__text{
    //     color: $white;
    // }
    // &__select{
    //     @include dropdown;
    // }
    // &__option{
    //     @include dropdown-options;
    // }
}

.active{
    display: block;
}