.l-body{
    // background: lightblue;
    font-family: $body-font;
    font-size: 1.7rem;
    // width: 100vw;
    // min-height: 200vh;
    overflow-x: hidden;
}

.l-base-grid{
    // background: maroon;
    display: grid;
    grid-template-rows: auto 284px;
    grid-template-columns: 100vw;
    grid-template-areas: "main" "footer";
    &__main{
        // background: darkgreen;
        grid-area: main;
        position: relative;
    }
    &__footer{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background: $primary-colour;
        grid-area: footer;
        border-radius: 90px 90px 0 0;
        padding: 0% 6% 3% 6%;
    }
    &__tourism-nz-logo{
        width: 27%;
    }
    &__right-ctn{
        // background: lightpink;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
    }
    &__logo{
        width: 78%;
    }
    &__tc{
        font-size: 3.3rem;
        color: $white;
        padding-top: 5rem;
        line-height: 1;
    }
}

.l-image-grid{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 100%;
    height: 100%;
    // background: mediumaquamarine;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    &__logo{
        // background: lightcoral;
        grid-column: 12/16;
        grid-row: 1/2;
        z-index: 1;
        margin-top: 60px;
    }
    &__ctn-one{
        // background: indianred;
        grid-column: 1/6;
        grid-row: 1/4;
        position: relative;
    }
    &__blob-one{
        position: absolute;
        top: -200px;
        right: 0;
        width: 675px;
        height: 666px;
        background: $black;
        clip-path: url(#blob-one);
        background: url(../img/pexels-jeremy-bishop-8241135.jpg) no-repeat;
        background-size: cover;
    }
    &__ctn-two{
        // background: powderblue;
        grid-column: 6/17;
        grid-row: 1/16;
        position: relative;
        overflow: hidden;
    }
    &__blob-two{
        position: absolute;
        top: -150px;
        left: 0;
        width: 1191.7283px;
        height: 1244.99px;
        background: $black;
        clip-path: url(#blob-two);
        background: url(../img/pexels-taryn-elliott-5581736.jpg) no-repeat;
        // background-size: cover;
        background-size: auto 120%;
        background-position: 0% 57%;
    }
    &__ctn-three{
        // background: wheat;
        grid-column: 1/9;
        grid-row: 6/11;
        position: relative;
    }
    &__blob-three{
        position: absolute;
        top: 0;
        right: 0;
        width: 1040.9159px;
        height: 996.0017px;
        background: $black;
        clip-path: url(#blob-three);
        background: url(../img/pexels-kelly-l-2396045.jpg) no-repeat;
        background-size: cover;
    }
    &__ctn-four{
        // background: orange;
        grid-column: 3/17;
        grid-row: 9/17;
        position: relative;
        overflow: hidden;
    }
    &__blob-four{
        position: absolute;
        top: 0;
        left: 0;
        width: 1470.9984px;
        height: 1302.9973px;
        background: $black;
        clip-path: url(#blob-four);
        background: url(../img/pexels-ave-calvar-martinez-3030459.jpg) no-repeat;
        background-size: cover;
        // transform: scale(90%);
    }
}

.l-content-grid{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    // background: yellow;
    width: 100vw;
    height: 100%;
    padding: 0 5%;
    padding-top: 35rem;
    padding-bottom: 20rem;
}

/* Large Devices (Laptop/Desktop) */
@media #{$desktop}{

}

/* Medium Devices (Tablets) */
@media #{$tablet} {
    .l-base-grid__footer{
        background: chocolate;
    }
}

/* Small Devices (Mobile) */
@media #{$mobile}{
    .l-base-grid__footer{
        background: greenyellow;
    }
}