@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dropdown {
    width: 150px;
    appearance: none;
    background: $primary-colour;
    border: none;
    padding: 0.5em 1em;
    margin: 0;
    width: 100%;
    outline: none;
    letter-spacing: 0.1rem;
    color: $text-white;
    font-size: 2.5rem;
    border-radius: 50px;
}

@mixin dropdown-options {
    width: 150px;
    text-transform: lowercase;
    font-size: 1rem;
    background: $black;
    // padding-left: 1rem;
    letter-spacing: 1rem;
    font-size: 1.4rem;
}