@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dropdown {
    // width: 150px;
    appearance: none;
    background: $primary-colour;
    border: none;
    padding: 0.5em 1em;
    margin: 0;
    width: 100%;
    outline: none;
    letter-spacing: 0.1rem;
    color: $text-white;
    font-size: 2.5rem;
    border-radius: 50px;
    &:focus{
        outline: solid 3px $secondary-colour;
    }
}

@mixin dropdown-options {
    background: $primary-colour;
    letter-spacing: 1rem;
    font-size: 2rem;
    color: $text-white;
}

@mixin sumbit-btn {
    background: $secondary-colour;
    color: $text-white;
    font-weight: $extra-bold;
    font-size: 2.3rem;
    border: none;
    padding: 0.5em 1em;
    border-radius: 30px;
    letter-spacing: 0.05rem;
    &:focus{
        outline: none;
    }
    &:hover{
        background: none;
        border: solid 5px $secondary-colour;
        color: $secondary-colour;
        font-size: 2.3rem;
        border-radius: 40px;
        padding: 0.3em 1em;
    }
}