@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dropdown {
    width: 150px;
    appearance: none;
    background: $primary-colour;
    border: none;
    padding: 0.5em 1em;
    margin: 0;
    width: 100%;
    outline: none;
    letter-spacing: 0.1rem;
    color: $text-white;
    font-size: 2.5rem;
    border-radius: 50px;
}

@mixin dropdown-options {
    width: 150px;
    text-transform: lowercase;
    font-size: 1rem;
    background: $black;
    // padding-left: 1rem;
    letter-spacing: 1rem;
    font-size: 1.4rem;
}




// let script = '<script src="https://maps.googleapis.com/maps/api/js?key=' + key +'&callback=initMap&libraries=places&v=weekly" async defer >'

    // console.log(script);

    // $(document).ready(function(){
    //     $('body').append(script);
    // });

    // function initMap(){
    //     // datepicker from jqueryui
    //     $('#startDateTwo').datepicker({
    //         // date format formats the date
    //         dateFormat: 'yy-mm-dd',
    //         // lets us change the month
    //         changeMonth: true,
    //         minDate: new Date(),
    //         maxDate: '+1y',
    //         // on select function will run once the start date has been selected
    //         onSelect: function(date){
    //             let selectDate = new Date(date);
    //             console.log(selectDate);
    //             // ms in a day
    //             let msecInADay = 86400000;
    //             let stDate = new Date(selectDate.getTime() + msecInADay);

    //             $('#endDate').datepicker('option','minDate', stDate);
    //             let enDate = new Date(selectDate.getTime() + 8 * msecInADay)
    //             // +8 (or what ever number you enter) will restrict the selection to the specified number eg.. in this case it will be 8 days
    //             $('#endDate').datepicker('option','maxDate', enDate)
    //         }
    //     });

    //     $('#endDateTwo').datepicker({
    //         dateFormat: 'yy-mm-dd',
    //         changeMonth:true
    //     });

    //     $('#calculateDaysTwo').click(function(){
    //         dateDiff();
    //     });

    //     function dateDiff(){
    //         let start = $(startDateTwo).datepicker('getDate');
    //         let end = $(endDateTwo).datepicker('getDate');

    //         // calculation to get readable days
    //         let days = (end - start)/1000/60/60/24
    //         $('#daysTwo').val(days);
    //     }

    //     // auto complete form
    //     let start = new google.maps.places.Autocomplete(
    //         document.getElementById('startTwo'),
    //         {
    //             types: ['(cities)']
    //         }
    //     ); // autocomplete start

    //     let end = new google.maps.places.Autocomplete(
    //         document.getElementById('endTwo'),
    //         {
    //             types: ['(cities)'],
    //         },
    //     );

    //     // directions distance and duration
    //     // initiate a direction request to the Direction service
    //     // https://developers.google.com/maps/documentation/javascript/directions
    //     const directionService = new google.maps.DirectionsService();

    //     // direction service render handels the display of lines and any associated markers
    //     const directionsRenderer = new google.maps.DirectionsRenderer();



    //     // calling the map function
    //     const map = new google.maps.Map(document.getElementById('map'),{
    //         zoom: 7,
    //         // Christchurch coordinates
    //         center: {lat:-43.5320385913218, lng:172.6306215014878},
    //     })


    //     directionsRenderer.setMap(map);

    //     document.getElementById('submitTwo').addEventListener('click', () => {
    //         calculateAndDisplayRoute(directionService, directionsRenderer);
    //     });

    // }
    // initMap();

    // $('body').append(script);

    // function calculateAndDisplayRoute(directionService, directionsRenderer){
    //     console.log(directionService);
    //     console.log(directionsRenderer);
    //     const waypts = [];
    //     const checkboxArray = document.getElementById('waypointsTwo');
    
    //     for (let i = 0; i < checkboxArray.length; i++){
    //         if(checkboxArray.options[i].selected){
    //             waypts.push({
    //                 // gets the lat and lng in degrees, contains one lat and long subfield
    //                 // https://developers.google.com/maps/documentation/geolocation/overview
    //                 location: checkboxArray[i].value,
    //                 // stop over is boolean and it indicates a stop over on the route
    //                 stopover: true,
    //             });
    //         }
    //     }
    //     console.log(waypts);
    
    //     // need to make a request to get the distance
    //     // directionService
    //     // allows us to - routes out the direction of selected locations
    //     directionService.route({
    //         // specifies the start location from which to calculate directions
    //         origin: document.getElementById('startTwo').value,
    //         // destination specifies the end location
    //         destination: document.getElementById('endTwo').value,
    //         // way points specifies an array of directions waypoints - waypoints alter the route
    //         waypoints: waypts,
    //         // to specify more efficient order of travel - rearange/optimise our way points
    //         optimizeWaypoints: true,
    //         // specify what mode of travel
    //         // https://developers.google.com/maps/documentation/javascript/examples/directions-travel-modes
    //         travelMode: google.maps.TravelMode.DRIVING,
    //         // travelMode: google.maps.TravelMode.TRANSIT,
    //         // transitOptions: {
    //         //     modes: ['TRAIN'],
    //         //   },
    //     },
    //     (response, status) =>{
    //         // the OK indicates that no errors have occurred
    //         if (status === "OK"){
    //             console.log(response);
    //             // geocoding
    //             // https://developers.google.com/maps/documentation/javascript/geocoding
    //             // creates the render of the given directions
    //             // https://developers.google.com/maps/documentation/javascript/reference/directions
    //             directionsRenderer.setDirections(response)
    //             const route = response.routes[0];
    //             const summaryPanel = document.getElementById('directions-panelTwo');
    
    //             summaryPanel.innerHTML = "";
    
    //             // for each route, display summary information.
    //             for(let i = 0; i < route.legs.length; i++){
    //                 const routeSegment = i + 1;
    
    //                 summaryPanel.innerHTML +=
    //                 "<b>Route Segment:" + routeSegment + "</><br>";
    //                 summaryPanel.innerHTML += route.legs[i].start_address + " to ";
    //                 summaryPanel.innerHTML += route.legs[i].end_address + "<br>";
    //                 summaryPanel.innerHTML +=
    //                 route.legs[i].distance.text + " and it take " + route.legs[i].duration.text + " to reach."
    //                 + "<br><br>";
    //             }
    //         } else {
    //             window.alert('Directions request failed due to ' + status);
    //         }
    //     }
    //     );
    // }
    // $('#startTwo,#endTwo').click(function(){
    //     $(this).val('');
    // });

    // initMap();