.modal-header .close {
    padding: 1rem 1rem;
    padding-top: 0;
    margin: 0;
    font-size: 2.8rem;
}

#vehicleDetails{
    width: 100%;
    height: 100%;
    background: $white;
    padding: 0 6%;
    display: flex;
    flex-flow: row wrap;
    // align-items: center;
}

#contactInfo{
    width: 100%;
    height: 100%;
    // background: orange;
    display: flex;
    flex-flow: row wrap;
}

#payment{
    width: 100%;
    height: 100%;
    // background: purple;
    display: flex;
    flex-flow: row wrap;
}

#summary{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-flow: row wrap;
}

#hireBtn{
    width: 30%;
}

.modal-content{
    min-height: 900px;
    position: relative;
    border-radius: 50px;
}

.modal-header{
    padding: 0 2rem;
    padding-top: 2rem;
}

.modal-body{
    display: flex;
    flex-flow: column wrap;
}

.c-modal{
    &__header{
        justify-content: space-between;
        border: none;
        padding-bottom: 0;
        // background: rebeccapurple;
    }
    &__backIcon{
        font-size: 2.5rem;
        // cursor: pointer;
        padding: 1rem 1rem;
        color: $text-white;
    }
    &__page-title{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }
    &__title-ctn{
        width: 125%;
        background: $white;
        color: $primary-colour;
        border-radius: 30px;
        padding: 0.5em 0;
        text-align: center;
        border: solid 3px $primary-colour;
        &--stacked-two{
            z-index: 2;
        }
        &--stacked-three{
            z-index: 3;
        }
        &--stacked-one{
            z-index: 4;
        }
        &--active{
            background: $primary-colour;
            z-index: 5;
            color: $text-white;
            // border: solid 3px $secondary-colour;
        }
    }
    &__title-text{
        font-size: 1.6rem;
    }
    &__carousel-wrap{
        // width: 100%;
        // height: 50%;
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 5rem;
    }
    &__carousel{
        height: 100%;
        margin-bottom: 4rem;
    }
    &__carousel-inner{
        height: 100%;
    }
    &__carousel-item{
        width: auto;
        height: 100%;
    }
    &__img{
        height: 100%;
        background-repeat: no-repeat;
    }
    &__title{
        width: 100%;
        font-size: 4rem;
        color: $primary-colour;
        line-height: 1;
        font-weight: $extra-bold;
    }
    &__partner{
        width: 100%;
        font-size: 2rem;
        color: $light-blue;
        line-height: 1;
        font-weight: $semi-bold;
        letter-spacing: 0.1rem;
    }
    &__icons-ctn{
        width: 50%;
        display: flex;
    }
    &__pricing-ctn{
        width: 50%;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        align-items: flex-end;
        color: $primary-colour;
        font-size: 2.2rem;
        font-weight: $semi-bold;
    }
    &__icons-left{
        width: 15rem;
        display: flex;
        flex-flow: row wrap;
    }
    &__icons-right{
        width: 10rem;
        display: flex;
        flex-flow: row wrap;
    }
    &__icon{
        height: 40px;
        margin-right: 1.5rem;
    }
    &__text{
        padding-top: 1rem;
        color: $primary-colour;
        line-height: 1;
    }
    &__line-wrap{
        display: flex;
    }
    &__footer{
        // display: flex;
        justify-content: center;
        border: none;
        padding-top: 0;
        padding-bottom: 2rem;
    }
    &__btn{
        width: 30%;
        font-size: 2.2rem;
        font-weight: $extra-bold;
        background: $secondary-colour;
        border-radius: 30px;
        border: none;
        color: $text-white;
        padding: 0.3em 0;
        &:focus{
            outline: none;
        }
        
    }

    &__col-left{
        width: 30%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        // background: salmon;
        padding: 0 3%;
        border-right: solid 1px #5CB8E2;
    }
    &__contact-img{
        width: 100%;
    }
    &__col-right{
        width: 70%;
        height: 100%;
        // background: skyblue;
        padding: 0 3%;
        padding-top: 2%;
    }
    &__form{
        display: flex;
        flex-flow: column wrap;
    }


    &__card-expiry{
        width: 100%;
        display: flex;
        // background: khaki;
    }
    &__input{
        width: 100%;
    }

    &__vehicleDetsError{
        color: $tertiary-colour;
        font-size: 2rem;
        margin: 0 auto;
    }

    &__booking-title{
        font-size: 2.5rem;
        color: $primary-colour;
        font-weight: $extra-bold;
        text-transform: $uppercase;
    }
    &__booking-partner{
        font-size: 2rem;
        color: $primary-colour;
        font-weight: $semi-bold;
        letter-spacing: 0.05em;
        text-transform: $uppercase;
    }
    &__label{
        color: $primary-colour;
        font-size: 2rem;
    }
    &__input{
        color: $text-white;
        background: $primary-colour;
        padding: 0.5em 1em;
        border: none;
        border-radius: 30px;
        letter-spacing: 0.05em;
        &:focus{
            outline: solid 3px $secondary-colour;
        }
    }
    &__licence-text{
        color: $primary-colour;
        font-size: 1.8rem;
        padding-top: 2rem;
    }

}



