.modal-header .close {
    padding: 1rem 1rem;
    padding-top: 0;
    margin: 0;
    font-size: 2.8rem;
}

#vehicleDetails{
    width: 100%;
    height: 100%;
    background: $white;
    padding: 0 6%;
    display: flex;
    flex-flow: row wrap;
    // align-items: center;
}

#review{
    width: 100%;
    height: 100%;
    background: orange;
}

#summary{
    width: 100%;
    height: 100%;
    background: red;
}

#hireBtn{
    width: 30%;
}

.modal-content{
    height: 900px;
    position: relative;
    border-radius: 50px;
}

.modal-header{
    padding: 0 2rem;
    padding-top: 2rem;
}

.modal-body{
    display: flex;
    flex-flow: column wrap;
}

.c-modal{
    &__header{
        justify-content: space-between;
        border: none;
        padding-bottom: 0;
        // background: rebeccapurple;
    }
    &__backIcon{
        font-size: 2.5rem;
        // cursor: pointer;
        padding: 1rem 1rem;
        color: $text-white;
    }
    &__page-title{
        width: 75%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
    &__title-ctn{
        width: 125%;
        background: $white;
        color: $primary-colour;
        border-radius: 30px;
        padding: 0.5em 0;
        text-align: center;
        border: solid 3px $primary-colour;
        &--active{
            background: $primary-colour;
            z-index: 3;
            color: $text-white;
            // border: solid 3px $secondary-colour;
        }
        &--stacked{
            z-index: 2;
        }
    }
    &__title-text{
        font-size: 1.6rem;
    }
    &__carousel-wrap{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        padding-top: 2rem;
    }
    &__side-carousel{
        background: $white;
        // height: 50%;
        width: 14%;
        z-index: 3;
    }
    &__carousel{
        // height: 50%;
        margin-bottom: 4rem;
    }
    &__carousel-inner{
        height: 100%;
    }
    &__carousel-item{
        width: auto;
        height: 100%;
    }
    &__img{
        height: 100%;
        background-repeat: no-repeat;
    }
    &__title{
        width: 100%;
        font-size: 4rem;
        color: $primary-colour;
        line-height: 1;
        font-weight: $extra-bold;
    }
    &__partner{
        width: 100%;
        font-size: 2rem;
        color: $light-blue;
        line-height: 1;
        font-weight: $semi-bold;
        letter-spacing: 0.1rem;
    }
    &__icons-ctn{
        width: 50%;
        display: flex;
    }
    &__pricing-ctn{
        width: 50%;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        align-items: flex-end;
        color: $primary-colour;
        font-size: 2.2rem;
        font-weight: $semi-bold;
    }
    &__icons-left{
        width: 16rem;
        display: flex;
        flex-flow: row wrap;
    }
    &__icons-right{
        width: 10rem;
        display: flex;
        flex-flow: row wrap;
    }
    &__icon{
        height: 40px;
        margin-right: 1.5rem;
    }
    &__text{
        padding-top: 1rem;
        color: $primary-colour;
        line-height: 1;
    }
    &__line-wrap{
        display: flex;
    }
    &__footer{
        // display: flex;
        justify-content: center;
        border: none;
        padding-top: 0;
        padding-bottom: 2rem;
    }
    &__btn{
        width: 30%;
        font-size: 2.2rem;
        font-weight: $extra-bold;
        background: $secondary-colour;
        border-radius: 30px;
        border: none;
        color: $text-white;
        padding: 0.3em 0;
        &:focus{
            outline: none;
        }
    }
}

// .pac-container {
//     z-index: 2000 !important;
// }

