.l-sorting-ctn{
    // background: seagreen;
    width: 100%;
    height: 70px;
    margin-bottom: 15rem;
}

.c-inital-sorting{
    // background: mediumvioletred;
    width: 100%;
    &__sorting{
        display: flex;
        justify-content: space-between;
    }
    &__checkboxes{
        display: flex;
    }
    &__ctn{
        background: $primary-colour;
        padding: 0.5em 1em;
        color: $text-white;
        border-radius: 50px;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
        line-height: 1;
        margin-right: 1.5rem;
    }
    &__label{
        margin: 0;
    }
    &__select{
        @include dropdown;
    }
    &__option{
        @include dropdown-options;
    }
}

.c-final-sorting{
    // background: mediumspringgreen;
    width: 100%;
    &__filterfeedback{
        display: flex;
        align-items: flex-end;
        padding-bottom: 2rem;
    }
    &__sorting{
        display: flex;
        justify-content: space-between;
    }
    &__checkboxes{
        display: flex;
    }
    &__ctn{
        background: $primary-colour;
        padding: 0.5em 1em;
        color: $text-white;
        border-radius: 50px;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
        line-height: 1;
        margin-right: 1.5rem;
    }
    &__feedback{
        width: 12rem;
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $light-blue;
        padding-top: 0.3em;
        border-radius: 20px;
        margin-right: 2rem;
    }
    &__icon-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 1rem;
    }
    &__img{
        width: 35px;
        &--taller{
            width: 40px;
        }
    }
    &__icon-label{
        font-size: 1.4rem;
        color: $text-white;
        margin-bottom: 0;
    }
    &__label{
        margin: 0;
    }
    &__amount{
        color: $text-white;
        font-size: 2rem;
        font-weight: $extra-bold;
    }
    &__select{
        @include dropdown;
    }
    &__option{
        @include dropdown-options;
    }
}

.select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;


    select,
    &::after {
        grid-area: select;
    }

    cursor: pointer;
    line-height: 1;

    // Custom arrow
    &:not(.select--multiple)::after {
        content: "";
        justify-self: end;
        width: 1.2em;
        height: 0.8em;
        background-color: $select-arrow;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        margin-right: 2.2rem;
    }
}


/* Large Devices (Laptop/Desktop) */
@media #{$desktop}{
    // .select{
    //     min-width: 19ch;
    //     height: 25px;
    //     padding: 0.5em 0.5em;
    //     font-size: 1.1rem;
    // }
}

/* Medium Devices (Tablets) */
@media #{$tablet} {

}

/* Small Devices (Mobile) */
@media #{$mobile}{

}