.c-travel-details{
    background: $white;
    width: 603px;
    min-height: 726px;
    padding: 3rem;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    &__ctn{
        display: flex;
        flex-flow: column wrap;
        // background: lightpink;
        width: 100%;
        height: 100%;
        position: relative;
    }
    &__label-ctn{
        display: flex;
        justify-content: space-between;
    }
    &__when{
        display: flex;
    }
    &__date{
        width: 50%;
        display: flex;
        flex-flow: column wrap;
    }
    &__time{
        width: 50%;
        display: flex;
        flex-flow: column wrap;
        padding-left: 5%;
        align-items: flex-start;
    }
    &__return-ctn{
        display: flex;
        align-items: center;
    }
    &__checkbox{
        appearance: none;
        background-color: $primary-colour;
        margin: 0;
        color: $white;
        width: 1.15em;
        height: 1.15em;
        border-radius: 50%;
        display: grid;
        place-content: center;
        margin-right: 1rem;
        &::before{
            content: "";
            width: 0.65em;
            height: 0.65em;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            transform: scale(0);
            transform-origin: bottom left;
            transition: 120ms transform ease-in-out;
            background-color: $white;
        }
        &:checked::before {
            transform: scale(1);
        }
    }
    &__return-text{
        color: $primary-colour;
        margin: 0;
        line-height: 1;
    }
    &__twoLocations-ctn{
        display: none;
    }
    &__label{
        color: $primary-colour;
        font-size: 2rem;
        font-weight: $bold;
        // letter-spacing: 0.05rem;
        &--pickup{
            display: none;
        }
    }
    &__select-ctn{
        width: 100%;
    }
    &__select{
        @include dropdown;
        font-size: 2rem;
        width: 100%;
        border-radius: 40px;
        outline: $secondary-colour;
        &--time{
            font-size: 2rem;
            padding: 0.65em 1em;
        }
    }
    &__option{
        @include dropdown-options;
    }
    &__input{
        width: 100%;
        background: $primary-colour;
        color: $text-white;
        font-size: 2rem;
        border: none;
        padding: 0.4em 1em;
        border-radius: 30px;
        outline-color: $secondary-colour;
    }
    &__people{
        display: flex;
    }
    &__adults{
        display: flex;
        flex-flow: column wrap;
    }
    &__children{
        display: flex;
        flex-flow: column wrap;
        padding-left: 5%;
    }
    &__quantity{
        display: flex;
    }
    &__input-people{
        background: $primary-colour;
        color: $text-white;
        border: none;
        width: 8ch;
        text-align: center;
        font-size: 2.5rem;
        padding: 0.2em 0;
        border-radius: 30px;
        margin: 0 0.5rem;
        outline-color: $secondary-colour;
    }
    &__people-btn{
        width: 50px;
        height: 50px;
        background: none;
        border: solid 1px $primary-colour;
        color: $primary-colour;
        border-radius: 50%;
        line-height: 0;
        &:focus{
            outline-color: $secondary-colour;
            color: $secondary-colour;
        }
    }
    &__feedback{
        // background: lightgreen;
        width: 100%;
        color: $tertiary-colour;
        border: none;
        font-size: 2rem;
        font-weight: $regular;
        font-style: italic;
        padding: 1rem 0;
        outline: none;
    }
    &__submit-btn{
        @include sumbit-btn;
        width: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

::placeholder {
    color: $text-white;
    opacity: 1;
}

.show-locations{
    display: block;
}

.show-label{
    display: block;
}

.hide-label{
    display: none;
}

.hide-location{
    display: none;
}


/* Medium Devices (Tablets) */
@media #{$tablet} {
    // .c-travel-details{
    //     width: 400px;
    //     height: 600px;
    // }
}

/* Small Devices (Mobile) */
@media #{$mobile}{
    .c-travel-details{
        width: 300px;
        height: 800px;
        &__label-ctn{
            flex-direction: column;
        }
        &__when{
            flex-direction: column;
        }
        &__people{
            flex-direction: column;
        }
        &__label{
            font-size: 1.5rem;
        }
        &__select{
            font-size: 1.5rem;
            &--time{
                font-size: 1.5rem;
                padding: 0.65em 1em;
            }
        }
        &__input{
           font-size: 1.5rem;
        }
    }
}