// media queries
$mobile: "(max-width: 600px)";
$tablet: "(min-width:601px) and (max-width:1023px)";
$desktop: "(min-width:1024px)";

// Fonts
@font-face {
    font-family: 'National';
    src: url(fonts/TestNational-Regular.otf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'National';
    src: url(fonts/TestNational-Bold.otf) format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'National';
    src: url(fonts/TestNational-Black.otf) format("truetype");
    font-weight: bolder;
    font-style: normal;
}
// font-family: 'National', sans-serif;

$heading-font: 'Josefin Sans', sans-serif;
$body-font: 'National', sans-serif;

$uppercase: uppercase;

// Colours
$text-white: #FFFFFF;
$primary-colour: #00ABDD;
$secondary-colour: #DCCD23;
$black: #000000;
$select-arrow: #ffffff;
$white: #ffffff;

$tertiary-colour: #82191E;
$mobile-gray: #3C3C3C;
$red-highlight: #CF2730; 