@import "var";
@import "resets";
@import "mixins";
@import "modal";

.l-body{
    background: lightblue;
    // padding: 3rem;
    // padding-top: 21rem;
    font-family: $body-font;
    font-size: 1.7rem;
    width: 100vw;
    min-height: 200vh;
    overflow-x: hidden;
}
.l-image-grid{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 100vw;
    min-height: 180vh;
    background: mediumaquamarine;
    &__ctn-one{
        // background: indianred;
        grid-column: 1/6;
        grid-row: 1/4;
        position: relative;
    }
    &__blob-one{
        position: absolute;
        top: -200px;
        right: 0;
        width: 675px;
        height: 666px;
        background: $black;
        clip-path: url(#blob-one);
        background: url(../img/pexels-jeremy-bishop-8241135.jpg) no-repeat;
        background-size: cover;
    }
    &__ctn-two{
        // background: powderblue;
        grid-column: 6/17;
        grid-row: 1/16;
        position: relative;
        overflow: hidden;
    }
    &__blob-two{
        position: absolute;
        top: -150px;
        left: 0;
        width: 1191.7283px;
        height: 1244.99px;
        background: $black;
        clip-path: url(#blob-two);
        background: url(../img/pexels-taryn-elliott-5581736.jpg) no-repeat;
        background-size: cover;
        // background-size: auto 1499px;
        // background-position: 0% 0%;
    }
    &__ctn-three{
        // background: wheat;
        grid-column: 1/9;
        grid-row: 5/11;
        position: relative;
    }
    &__blob-three{
        position: absolute;
        top: 0;
        right: 0;
        width: 1040.9159px;
        height: 996.0017px;
        background: $black;
        clip-path: url(#blob-three);
        background: url(../img/pexels-kelly-l-2396045.jpg) no-repeat;
        background-size: cover;
    }
    &__ctn-four{
        // background: orange;
        grid-column: 2/17;
        grid-row: 9/17;
        position: relative;
        overflow: hidden;
    }
    &__blob-four{
        position: absolute;
        top: 0;
        left: 0;
        width: 1470.9984px;
        height: 1302.9973px;
        background: $black;
        clip-path: url(#blob-four);
        background: url(../img/pexels-ave-calvar-martinez-3030459.jpg) no-repeat;
        background-size: cover;
        transform: scale(90%);
    }
}

.c-travel-details{
    background: mediumpurple;
    grid-column: 2/8;
    grid-row: 3/6;
    z-index: 1;
    padding: 3rem;
    border-radius: 40px;
}

.l-initalSorting{
    background: mediumvioletred;
    grid-column: 2/16;
    grid-row: 7/8;
    z-index: 1;
}

.l-finalSorting{
    background: darkgreen;
    grid-column: 2/16;
    grid-row: 7/8;
    z-index: 1;
}

.cardContent{
    // background: coral;
    grid-column: 2/16;
    grid-row: 8/17;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}



.item-container{
    display: flex;
}

.card{
    width: 350px;
    height: 400px;
    // height: 50%;
    margin: 0 1.5rem;
    margin-bottom: 3rem;
}

.filterfeedback{
    display: flex;
}

.l-sortBy{
    // width: 100%;
    // background: olive;
    display: flex;
    justify-content: space-evenly;
}

.filterfeedback{
    display: flex;
    justify-content: space-evenly;
}