@import "var";
@import "mixins";
@import "resets";
@import "layout-bg";
@import "modal";
@import "sorting";
@import "travel-details";
@import "fuel-calculator";
@import "card";



.l-feedback{
    display: flex;
    justify-content: center;
    &__text{
        background: $white;
        color: $tertiary-colour;
        font-size: 2.5rem;
        margin: 0;
        padding: 0.5em 1em;
        border-radius: 30px;
    }
}


/* Large Devices (Laptop/Desktop) */
@media #{$desktop}{

}

/* Medium Devices (Tablets) */
@media #{$tablet} {

}

/* Small Devices (Mobile) */
@media #{$mobile}{
    // .c-travel-details{
    //     width: 300px;
    //     height: 600px;
    // }
}