@import "var";
@import "resets";
@import "mixins";
@import "modal";


.c-inital-filters{
    width: 40%;
    background: lightgreen;
    padding: 3rem;
    display: flex;
    flex-flow: column wrap;
}

.item-container{
    display: flex;
}

.cardContent{
    width: 100%;
    background: coral;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 3rem 0;
}

.card{
    width: 400px;
    margin: 0 1.5rem;
    margin-bottom: 3rem;
}

.filterfeedback{
    display: flex;
}

.l-sortBy{
    // width: 100%;
    // background: olive;
    display: flex;
    justify-content: space-evenly;
}

.filterfeedback{
    display: flex;
    justify-content: space-evenly;
}